{% extends 'web_app/base.html' %}
{% block content %}
<div style="color: antiquewhite;">
    <br>
    <h2>RECRUIT WITH US!</h2>
</div>

<div style="color: antiquewhite;">
<br>
<div>
    <h3>Add the skills required </h3>   
{{person}}
</div>
<br>
<br>
<form action ="" method="POST" style="color: antiquewhite;">
  {% csrf_token %}
  {{ form.as_p }}
  <a href="{% url 'add_skills' %}" class="button">+Add</a>
</a> 
<button type="submit" class="save btn btn-default">Finish</button>
</a> 
</form>
</div>
{% endblock %}