{% load static %}

<html>
<head>
<meta charset="ISO-8859-1">
<title>Login and Registration form example</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/dash.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 
<body bgcolor="#333333">
<div id = "header">
<h1 id = "welcome-text">Welcome to the platform</h1>
</div>

<div>
    {% block content %}
    {% endblock %}
</div>
 
</body>
</html> 